.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.appBar {
  background-color: #00ADB5!important;
}

.headerText {
  color: #EEEEEE;
  font-size: 36px!important;
  text-align: center;
}

.button {
  width: 270px;
  align-self: center;
  background-color: #00ADB5!important;
  color: #EEEEEE;
  font-size: 36px!important;
}