.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.appBar {
  background-color: #00ADB5!important;
  margin-bottom: 50px;
}

.headerText {
  color: #EEEEEE;
  font-size: 36px!important;
  text-align: center;
}

.statsBar {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-bottom: 20px;
  color: #EEEEEE;
}

.nextBar {
  display: flex;
  flex-direction: row;
  color: #EEEEEE;
  margin-bottom: 20px;
  color: #EEEEEE;
}

.button {
  width: 270px;
  align-self: center;
  background-color: #00ADB5!important;
  color: #EEEEEE;
  font-size: 36px!important;
}
