.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.cell {
  height: 50px;
  width: 50px;
  background-color: #222831;
  border-radius: 50%;
}