.tile {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
}

.tile_2 {
  height: 50px;
  width: 50px;
  background-color: #00ADB5;
  color: #EEEEEE;
}

.tile_3 {
  height: 50px;
  width: 50px;
  background-color: #C5E99B;
  color: #222831;
}